@import "bootstrap";
.btn-custom {
  color: #fff;
  background-color: darksalmon;
}

.btn-custom:hover {
  color: #fff;
  background-color: #e58564;
}

.cap-first-letter {
  text-transform: capitalize;
}

.darksalmon {
  color: darksalmon;
}

.dimgrey {
  color: dimgrey;
}

.form-control-feedback {
  top: 15px;
  right: 30px;
}

.glyphicon.glyphicon-pencil,
.glyphicon.glyphicon-lock {
  font-size: 30px;
}

.list-group-item {
  min-height: 500px;
  max-height: 500px;
  text-align: center;
}

.list-group-item:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

.navbar .nav,
.navbar .nav>li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

.navbar-inner {
  text-align: center;
}

.poster-padding {
  max-height: 440px;
  padding-bottom: 5px;
}

.text-push {
  margin-left: 5px;
}

.text-push-more {
  margin-left: 20px;
}

.top-shy {
  margin-top: 0;
  margin-left: 5px;
}