<h1>Welcome</h1>
<div>
  {{input type="text" value=title placeholder="Title" enter="search"}}
  {{input type="text" value=year placeholder="Year"}}
  <button {{action "search" title year}}>Search</button>
</div>
