<div class="">

    <h2>Please login</h2>
    <p>If you dont have an account you can register one here: {{#link-to 'register'}} Register here {{/link-to}}
    </p>
    <p>
        <form action="">
            Username: <input type="text"><br> 
            Password: <input type="password"><br>
            <button type="button" onclick="alert('not yet implemented')">Login </button>
        </form>
    </p>
</div>