<div class="">

    <h2>Please login</h2>
    <p>If you dont have an account you can register one here:
  {{#link-to 'register'}}
    Register here
  {{/link-to}}
  </p>
    <p>
        TODO: Login form
    </p>
</div>