<div>
{{#each model as |movie|}}
  <p> Movie: {{movie.Title}} </p>
{{/each}}
<p> Movie </p>
<p>{{model.Title}}</p>
<p>Year: {{model.Year}}</p>
<p>IMDB rating{{model.imdbRating}}</p>
<ul>
   <li>
     <img src="model.Poster" />
   </li>
</ul>
</div>
