<div class="">
<h1>Register screen</h1>

<form>
Name: <input type="text"><br> 
Username: <input type="text"><br> 
Password:  <input type="password"><br> 
<button type="button" onclick="alert('not yet implemented')">Register</button>
</form>
</div>